<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="og:url" content="http://radiodario.github.io/halloween-skulls/">
  <meta name="og:title" content="halloween skulls decoration">
  <meta name="viewport" content="width=device-width, height=device-height">
  <meta name="og:image" content="https://s3-eu-west-1.amazonaws.com/eclipse-storage/eclipse-images/skulls.png">
  <meta name="og:description" content="a bunch of skulls doing their thing">


  <title>halloween-skulls</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>
